###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_exported_templates
_site
_site_pdf
.vs/VSWorkspaceState.json
.vs/time-cockpit-documentation/v17/.wsuo
tools/GenerateRedirects/.vs/GenerateRedirects/v17/.suo
