{% comment -%}Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.{% endcomment -%}
<a class="navbar-brand" href="{{_rel}}">
  <img id="logo" class="svg" src="{{_rel}}images/time-cockpit-logo.png" alt="{{_appName}}" >
</a>
