/*h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 14px;
}*/

.navbar-inverse {
    background-color: #25a0da;
    border-color: #25a0da;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #999;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.collapse.in .navbar-form {
    margin: 0 -15px;
    max-width: inherit;
}

.collapse.in, .collapsing {
    text-align: inherit;
}

.nav.level3 a::before {
    content: "-";
    padding-right: 10px;
}

header .navbar {
    border: none;
}

.navbar-inverse .navbar-nav a {
    margin-right: 1px;
}

#breadcrumb li {
    font-size: smaller;
    color: #ddd;
}

#breadcrumb a {
    color: #fff;
}

.navbar-brand > img {
    margin-top: 10px;
    margin-right: 10px;
}

.navbar-default {
    background-color: #333;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #0890D2;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #0890D2;
}

.sidefilter, .sidetoc {
    border: none;
}

.sideaffix {
    bottom: 70px;
    border-left: 1px solid #ddd;
    padding-left: 20px;
    margin-top: -10px;
    padding-top: 50px;
    height: 100%;
}

.affix > ul.level1 {
    margin-right: 0;
}

.toc {
    padding-right: 20px;
}

.toc .level1 > li {
    font-size: 13px;
    font-weight: 600;
}

.affix ul ul > li > a {
    margin-right: 15px;
}

footer .grad-bottom {
    background: none;
    height: 0;
}

.alert-warning {
    background-color: #fff0b3;
    border: none;
    color: inherit;
}

.alert-warning h5:before {
    content: none;
}

.alert-info {
    border: none;
    color: inherit;
}

.alert-info h5:before {
    content: none;
}

/* time cockpit */
.tc-card-row {
    margin-top: 20px;
    color: #25a0da;
}

.tc-card div {
    /*border: 1px solid #e5e5e5;*/
    background-color: #eee;
    padding: 30px 10px 20px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.tc-card div .glyphicon {
    font-size: 48px;
}

.tc-card div:hover {
    background-color: #d9edf7;
}