h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 14px;
}

.navbar-brand > img {
    margin-top: 10px;
    margin-right: 10px;
}

.affix > ul.level1 {
    margin-right: 0;
}

.toc .level1 > li {
    font-size: 13px;
    font-weight: 600;
}

.affix ul ul > li > a {
    margin-right: 15px;
}